---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.description}>
    <article class="max-w-3xl mx-auto py-8">
        <header class="mb-10 text-center">
            <div class="text-sm text-slate-500 mb-4">
                <time datetime={post.data.pubDate.toISOString()}>
                    {
                        post.data.pubDate.toLocaleDateString("en-us", {
                            year: "numeric",
                            month: "long",
                            day: "numeric",
                        })
                    }
                </time>
            </div>
            <h1
                class="text-4xl md:text-5xl font-extrabold tracking-tight text-slate-900 dark:text-white mb-6 leading-tight"
            >
                {post.data.title}
            </h1>
            {
                post.data.heroImage && (
                    <img
                        width={1020}
                        height={510}
                        src={post.data.heroImage}
                        alt={post.data.title}
                        class="w-full h-auto rounded-xl shadow-lg mt-8"
                    />
                )
            }
        </header>
        <div
            class="prose prose-lg dark:prose-invert mx-auto text-slate-700 dark:text-slate-300"
        >
            <Content />
        </div>
    </article>
</BaseLayout>
